@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&display=swap");

.AboutSection {
  background-color: #a3dcbe;
  font-family: "Open Sans", sans-serif;
  display: flex;
  padding: 10px 250px;
}

.big-letter {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 50px;
  width: 30px;
  border-bottom: 2px black solid;
  text-align: center;
  margin: 30px auto;
}

.about-header {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 30px;
  padding: 0 0 30px 0;
}

.about-text {
  text-align: left;
  font-size: 20px;
  margin: 0 0 30px 0;
}

.about-button {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 2px black solid;
  font-weight: 900;
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
}

.avatar-image {
  height: 500px;
}
