@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&display=swap");

.ContactSection {
  width: 100%;
  background-color: #a3dcbe;
  height: 400px;
  padding: 20px 0 0 0;
}

.contact-section-text-container {
  width: 500px;
  margin: 0 auto;
}

.contact-header {
  margin: 20px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.horizontal-line {
  width: 50px;
  border-top: 1px black solid;
  margin: 5px auto 20px auto;
}

.contact-subheading {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  padding: 20px 0;
}

.contact-section-text {
  font-family: "Open Sans", sans-serif;
}
