@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.PortfolioSection {
  margin: 50px auto;
  width: 80%;
}

.portfolio-header {
  margin: 20px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.horizontal-line {
  width: 50px;
  border-top: 1px black solid;
  margin: 5px auto 20px auto;
}

.featured-project {
  height: 400px;
  background-color: #fcce77;
  border-radius: 4px;
}

.featured-site-links-container {
  display: flex;
}

.featured-site-link-left {
  color: black;
  text-decoration: none;
  width: 50%;
  height: 40px;
  padding: 120px 0;
  font-family: "Raleway", sans-serif;
  margin-top: 60px;
}

.left-horizontal-line {
  width: 50px;
  border-top: 1px black solid;
  margin: 5px auto 20px auto;
}
.featured-site-link-right {
  color: black;
  text-decoration: none;
  width: 50%;
  height: 40px;
  padding: 120px 0;
  margin-top: 60px;
}

.right-horizontal-line {
  width: 50px;
  border-top: 1px black solid;
  margin: 5px auto 20px auto;
}

.featured-link-text {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 100;
  border: 2px solid black;
  margin: 0 150px;
  border-radius: 2px;
  padding: 10px 0;
}

.other-projects-container {
  display: flex;
  margin: 30px 0 40px 0;
  justify-content: space-between;
}

.project {
  width: 32%;
  height: 350px;
  background: black;
  border-radius: 4px;
}

.portfolio-button {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 2px black solid;
  font-weight: 900;
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
}

.advo-container {
  background-color: #f1957e;
}

.advo-container:hover {
  background: white;
}

.advo-description {
  color: #f1957e;
}

.mastermind-logo {
  width: 300px;
  padding: 140px 0;
}

.site-link {
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
}

.link-text {
  margin: 90px 110px;
  padding: 5px 10px;
  border: 2px white solid;
  border-radius: 2px;
}

.helper-helper-logo {
  padding: 100px 0;
  width: 300px;
}

.advo-text {
  margin-top: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
}
