.timeline-container {
  display: flex;
  justify-content: center;
}

.timeline-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.timeline-section {
  width: 400px;
  text-align: left;
  background-color: #a3dcbe;
  margin: 10px 0 50px 20px;
  padding: 30px;
  border-radius: 5px;
}

.vertical-line {
  margin: 10px 0;
  height: 2016px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 4px;
}
